<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Service App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Service App – Serwis RTV / AGD</h1>
        <nav>
            <a href="{{ url_for('main.index') }}">Strona główna</a> |
            <a href="{{ url_for('main.login') }}">Logowanie</a> |
            <a href="{{ url_for('main.panel_klienta') }}">Panel klienta</a> |
            <a href="{{ url_for('main.panel_serwisanta') }}">Panel serwisanta</a> |
            <a href="{{ url_for('main.panel_koordynatora') }}">Panel koordynatora</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
